:root {
    --off-white: #F2F5F9;
    --blue: #3662E3;
    --dark-blue: #111729;
    --grey-blue: #364153;
    --soft-blue: #4e80ee33;
    --red: red;
}

[data-theme="dark"] {
    --bg: var(--dark-blue);
    --bg-2: var(--soft-blue);
    --text: var(--off-white);
    --text-2: var(--grey-blue);
    --accent: var(--blue);
    --modal: var(--grey-blue);
    --error: var(--red);
}

body {
    background: url("../images/bg-illustration.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    background-color: var(--bg) !important;
    font-family: "Outfit", sans-serif;
}

.main-container {
    margin-top: 100px;
    padding: 20px;
}

#form-container {
    width: 800px;
}

#qr-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.qr__form-logo {
    width: 30%;
    height: auto;
}

.qr__search-container {
    display: flex;
    width: 100%;
    gap: 16px;
    border-radius: 24px;
    padding: 5px;
    border: 2px solid var(--accent);
}

.qr__search-bar {
    display: flex;
    flex: 1 0 auto;
    padding-left: 16px;
    border-radius: 16px;
    border: none;
    color: var(--text);
    background-color: var(--color-bg);
}

.qr__button {
    padding: 15px 35px 15px 35px;
    border-radius: 16px;
    border: none;
    color: var(--text);
    background-color: var(--accent);
    cursor: pointer;
}

/* .qr__button:hover {
    background-color: var(--button-hover);
} */

.qr__search-bar::placeholder {
    color: var(--text-2);
    opacity: 1;
}

.qr__search-bar::-ms-input-placeholder {
    color: var(--text-2);
}

.qr__error {
    display: none;
    color: var(--error);
}

.qr__search-container.error {
    border-color: var(--error);
}

@media only screen and (max-width:640px) {
    #form-container {
        width: 100%;
    }
}